{% extends 'base.html' %}

{% block content %}

	<section class="h-80">
		<div class="container h-100">
			<div class="row justify-content-sm-center h-100">

		<div class="card-body">
			<h1 class="fs-4 card-title fw-bold mb-4">New device identity</h1>
			<div class="mb-3">
				<p class="text-muted mb-3">The device is not known to the system - a new identity has been created.</p>
				<p class="text-muted mb-5">Require second authentication factor for user sign-in and eOTK (ephemeral One-Time-Key) enrollment.</p>
				
				{% include('state.html') %}
				
			</div>
		</div>

		<div class="text-center mt-3 mb-5 text-muted">
			<a href="{{ url_for('index.index') }}" class="pe-3">Verify again</a>
			<a href="{{ url_for('relock.clean') }}">Clean browser</a>
		</div>
					
					<div class="text-center text-muted mono">
						Copyright &copy; 2025 &mdash; relock Inc.
					</div>
			</div>
		</div>
	</section>

{% include('stats.html') %}

{% endblock %}